@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.ttf");
}

/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: red;
}
.logo {        
  display: block;
  margin-left: auto;
  margin-right: auto;
  content: url("../images/logo.png");
  max-width: 100%;
}

.left.text {
  text-align: left;
}

.title.text {
  text-align: center;
  font-family: "Montserrat";
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-decoration-line: underline;
}

.game-over-logo {        
  display: block;
  margin-left: auto;
  margin-right: auto;
  content: url("../images/game-over.png");
  max-width: 100%;
}

.game-elements {        
  display: block;
  margin-left: auto;
  margin-right: auto;
  content: url("../images/game-elements.png");
  max-width: 100%;
}

.ground {        
  display: block;
  margin-left: auto;
  margin-right: auto;
  content: url("../images/ground.jpg");
  height: 80px;
  width: 80px;
}

.hole {        
  display: block;
  margin-left: auto;
  margin-right: auto;
  content: url("../images/hole.jpg");
  height: 80px;
  width: 80px;
}

.diglett {        
  display: block;
  margin-left: auto;
  margin-right: auto;
  content: url("../images/diglett.jpg");
  height: 80px;
  width: 80px;
}

.ditto {        
  display: block;
  margin-left: auto;
  margin-right: auto;
  content: url("../images/diglett.jpg");
  height: 80px;
  width: 80px;
}

.text {
  text-align: center;
  font-family: "Montserrat";
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.text-container {
  background-color: red;
  height: 120px;
  width: 600px;
  margin: 0 auto;
}

.button{
  display: inline-block;
  padding: 15px;
  margin-right: 5px;
  margin-top: 5px;
  height: 50px;
  min-width: 100px;
  background: #348AA7;
  border: none;
  outline: none;
  color: white;
  font-family: "Montserrat";
  text-align:center;
  font-weight: 400;
  font-size: 20px;
  border-radius: 3px;
  box-shadow: 0 5px 0px darken(#348AA7,0%);
  border-bottom: 2px solid darken(#348AA7,3%);
}
  
.button:hover{
  background: darken(#348AA7,5%);
  box-shadow: 0 4px 1px darken(#348AA7,5%);
  border-bottom: 2px solid darken(#348AA7,8%);
  transition: all 0.1s ease-in;
  }
  
.button:active{
  transform:translateY(4px);
  border-bottom-width: 2px;
  box-shadow: none;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: white;
  height: 400px;
  width: 400px;
  margin: 0 auto;
}

.grid-item {
  height: auto;
  width: auto;
  text-align: center;
}

.hammer {
  cursor: url("../images/hammer.png"), auto;   
}
