@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.ttf");
}

/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: red;
}
.logo {        
  display: block;
  margin-left: auto;
  margin-right: auto;
  content: url("../images/logo.png");
  max-width: 100%;
}

.left.text {
  text-align: left;
}

.title.text {
  text-align: center;
  font-family: "Montserrat";
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-decoration-line: underline;
}

.game-over-logo {        
  display: block;
  margin-left: auto;
  margin-right: auto;
  content: url("../images/game-over.png");
  max-width: 100%;
}

.game-elements {        
  display: block;
  margin-left: auto;
  margin-right: auto;
  content: url("../images/game-elements.png");
  max-width: 100%;
}

.game-elements {        
  display: block;
  margin-left: auto;
  margin-right: auto;
  content: url("../images/game-elements.png");
  max-width: 100%;
}

.ground {        
  display: block;
  margin-left: auto;
  margin-right: auto;
  content: url("../images/ground.jpeg");
  height: 80px;
  width: 80px;
}

.field {        
  display: block;
  margin-left: auto;
  margin-right: auto;
  content: url("../images/field-background.jpg");
  height: 80px;
  width: 80px;
}


.hole {        
  display: block;
  margin-left: auto;
  margin-right: auto;
  content: url("../images/hole.jpg");
  height: 80px;
  width: 80px;
}

.diglett {        
  display: block;
  margin-left: auto;
  margin-right: auto;
  content: url("../images/diglett.jpeg");
  height: 80px;
  width: 80px;
}

.ditto {        
  display: block;
  margin-left: auto;
  margin-right: auto;
  content: url("../images/diglett.jpeg");
  height: 80px;
  width: 80px;
}

.text {
  text-align: center;
  font-family: "Montserrat";
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.text-container {
  background-color: red;
  height: 140px;
  width: 600px;
  margin: 0 auto;
}

.highscores-container {
  background-color: red;
  height: 250px;
  width: 500px;
  margin: 0 auto;
}

.button{
  display: inline-block;
  padding: 15px;
  margin-right: 5px;
  margin-top: 5px;
  height: 50px;
  min-width: 100px;
  background: #348AA7;
  border: none;
  outline: none;
  color: white;
  font-family: "Montserrat";
  text-align:center;
  font-weight: 400;
  font-size: 20px;
  border-radius: 3px;
  box-shadow: 0 5px 0px darken(#348AA7,0%);
  border-bottom: 2px solid darken(#348AA7,3%);
}
  
.button:hover{
  background: darken(#348AA7,5%);
  box-shadow: 0 4px 1px darken(#348AA7,5%);
  border-bottom: 2px solid darken(#348AA7,8%);
  transition: all 0.1s ease-in;
  }
  
.button:active{
  transform:translateY(4px);
  border-bottom-width: 2px;
  box-shadow: none;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: white;
  height: 400px;
  width: 400px;
  margin: 0 auto;
}

.game-over-container {
  height: 400px;
  width: 400px;
  margin: 0 auto;
  padding-bottom: 10px;
}

#instructions{
  display: none;
}

#instructions.show{
  display: block;
}

#game-gif{
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  content: url("../images/diglett-gif.gif");
}

#game-gif.hide{
  display: none;
}

.magikarp {        
  content: url("../images/magikarp.gif");
  max-width: none;
}

.psyduck {        
  content: url("../images/psyduck.gif");
  max-width: none;
}

.kadabra {        
  content: url("../images/kadabra.gif");
  max-width: none;
}

.gengar {        
  content: url("../images/gengar.gif");
  max-width: none;
}

.mewtwo {        
  content: url("../images/mewtwo.gif");
  max-width: none;
}

.mew {        
  content: url("../images/mew.gif");
  max-width: none;
}

.grid-item {
  height: auto;
  width: auto;
  text-align: center;
}

.hammer {
  cursor: url("../images/hammer.png"), auto;   
}

/* Shaky effect when hitting a diglett */
.shaky {
  animation: shake 0.7s; 
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* Game border */
.other {
  box-shadow: 6px 0 black, -6px 0 black, 0 -6px black, 0 6px black;
  margin: 6px auto;
}