@font-face {
  font-family: "Digi";
  src: url("fonts/ds-digib.ttf");
}
@font-face {
  font-family: "PokeSolid";
  src: url("fonts/Pokemon\ Solid.ttf");
}
@font-face {
  font-family: "PokeHollow";
  src: url("fonts/Pokemon\ Hollow.ttf");
}

/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: red;
}

.logo {        
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text {
  text-align: center;
  font-family: "PokeSolid";
  font-size: 20px;
}

.button{
  display: inline-block;
  padding: 15px;
  margin-right: 5px;
  height: 50px;
  min-width: 100px;
  background: #348AA7;
  border: none;
  outline: none;
  color: white;
  font-family: "PokeSolid";
  text-align:center;
  font-weight: 400;
  font-size: 20px;
  border-radius: 3px;
  box-shadow: 0 5px 0px darken(#348AA7,0%);
  border-bottom: 2px solid darken(#348AA7,3%);
}
  
.button:hover{
  background: darken(#348AA7,5%);
  box-shadow: 0 4px 1px darken(#348AA7,5%);
  border-bottom: 2px solid darken(#348AA7,8%);
  transition: all 0.1s ease-in;
  }
  
.button:active{
  transform:translateY(4px);
  border-bottom-width: 2px;
  box-shadow: none;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.container-grid {
  text-align: center;
  width: 1000px;
  height: 1000px;
  overflow: auto;
  border: 1px solid;
}

.grid-element {
  float: left;
  width: 200px; 
  height: 200x;
}
